@model CreatePostViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts{
    <script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=ubo7yvv9j1n7gkdslv0zs0cd0rur0yu11z3rju2ii1lf7nh8"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            height: 500,
            width: 800,
            plugins: "image",
            toolbar: 'image',
            paste_data_images: true,
            images_upload_url: '/api/images'
        });</script>

}

<div class="my-3 my-md-5">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <form class="card" asp-controller="blog" asp-action="create" method="post">
                    <div class="card-header">
                        <h3 class="card-title">Create new blog post</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Title<span class="form-required">*</span></label>
                                    <input type="text" asp-for="@Model.Title" class="form-control" placeholder="Title..">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Slug<span class="form-required">*</span></label>
                                    <input type="text" asp-for="@Model.Slug" class="form-control" placeholder="Slug..">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Textarea <span class="form-required">*</span></label>
                                    <textarea class="form-control" asp-for="@Model.Description" rows="6" placeholder="Content.."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Tags <small class="">( devide each tag with  ; )</small></label>
                                    <input type="text" asp-for="@Model.Tags" class="form-control selectized" id="input-tags" value="" tabindex="-1">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Status <small class="">( devide each tag with  ; )</small></label>
                                    <select asp-for="@Model.Status" asp-items="Html.GetEnumSelectList<PostStatus>()" class="form-control dropdown">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <div class="d-flex">
                            <button type="submit" class="btn btn-primary ml-auto">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
