@model Envelope<IEnumerable<PostListDto>>
@using X.PagedList.Mvc.Core;
@using X.PagedList;

@{
    ViewData["Title"] = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="my-3 my-md-5">
    <div class="container">

        <h2>Manage</h2>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Posts</h3>
                    </div>
                    <div class="table-responsive">
                        @if (!Model.Data.Any())
                        {
                            <div class="alert alert-primary">There is no data :)</div>
                        }
                        else
                        {
                            <table class="table card-table table-vcenter text-nowrap datatable">
                                <thead>
                                    <tr>

                                        <th class="w-1p">No.</th>
                                        <th>Subject</th>


                                        <th>Created</th>
                                        <th>Status</th>
                                        <th>Viewed</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>

                                    @foreach (var item in Model.Data)
                                    {


                                        <tr>

                                            <td><span class="text-muted">@item.Id</span></td>
                                            <td><a href="invoice.html" class="text-reset">@item.Title.SafeSubstring()</a></td>

                                            <td>
                                                @item.CreatedAt
                                            </td>
                                            <td>
                                                <span class="status-icon @(item.Status==PostStatus.Draft?"bg-warning":"bg-success") "></span> @item.Status
                                            </td>
                                            <td>@item.ViewCount</td>
                                            <td class="text-right">
                                                <a class="icon" asp-action="edit" asp-route-id="@item.Id"><i class="fe fe-edit"></i></a>
                                                <a href="#" class="icon"><i class="fe fe-trash"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                    <div class="card-footer d-flex align-items-center">
                        @Html.PagedListPager((IPagedList)ViewBag.PageOfItems, page => Url.Action("Manage", new { page }), new X.PagedList.Mvc.Common.PagedListRenderOptionsBase { PageClasses = new[] { "page-link" }, ActiveLiElementClass = "active", LiElementClasses = new[] { "page-item" }, DisplayEllipsesWhenNotShowingAllPageNumbers = true })
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

