@inject IApplicationConfiguration  _applicationConfiguration
<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <title> @ViewData["Title"] </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Dashboard Core -->
    <link href="~/css/dashboard.css" rel="stylesheet" />
    <script>
        var baseUrl = '@Url.Content("~/")';
    </script>
    <script src="~/js/vendors/jquery-3.2.1.min.js"></script>
    <script src="~/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="~/js/core.js"></script>
    <script src="~/lib/noty/js/noty.min.js"></script>
    <link href="~/lib/noty/css/noty.css" rel="stylesheet" />
    @RenderSection("Scripts", required: false)
    @RenderSection("Styles", required: false)

</head>
<body class="">
    <div class="page">
        <div class="page-main">
            <div class="header py-4">
                <div class="container">
                    <div class="d-flex">
                        <a class="header-brand" href="/">
                            @_applicationConfiguration.Title
                        </a>
                        <div class="d-flex order-lg-2 ml-auto">

                            @{
                                if (User.Identity.IsAuthenticated)
                                {
                                    if (User.IsInRole(_applicationConfiguration.AdminRoleName))
                                    {


                                        <div class="dropdown show">
                                            <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown" aria-expanded="true">
                                                <span class="avatar">  <i class="dropdown-icon fe fe-image"></i></span>
                                                <span class="ml-2 d-none d-lg-block">
                                                    <span class="text-default">@_applicationConfiguration.OwnerName</span>
                                                    <small class="text-muted d-block mt-1">Administrator</small>
                                                </span>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right " x-placement="bottom-end" style="position: absolute; transform: translate3d(-56px, 32px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                <a class="dropdown-item" asp-area="admin" asp-controller="post" asp-action="index">
                                                    <i class="dropdown-icon fe fe-sliders"></i> Posts
                                                </a>
                                                <a class="dropdown-item" asp-area="admin" asp-controller="comment" asp-action="index">
                                                    <i class="dropdown-icon fe fe-command"></i> Comments
                                                </a>
                                                <a class="dropdown-item" asp-area="admin" asp-controller="profile" asp-action="edit">
                                                    <i class="dropdown-icon fe fe-info"></i> Profile
                                                </a>

                                                <a asp-area="admin" asp-controller="post" asp-action="create" class="dropdown-item">
                                                    <i class="dropdown-icon fe fe-send"></i> New Post
                                                </a>
                                                <div class="dropdown-divider"></div>

                                                <a class="dropdown-item" href="#">
                                                    <form method="post" asp-controller="security" asp-action="logout">
                                                        <input type="submit" value="LogOut" class="btn btn-sm btn-danger" />

                                                    </form>
                                                </a>
                                            </div>
                                        </div>
                                    }

                                }
                            }

                        </div>
                        <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                            <span class="header-toggler-icon"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 ml-auto">
                            <form class="input-icon my-3 my-lg-0">
                                <input type="search" class="form-control header-search" placeholder="Search&hellip;" tabindex="1">
                                <div class="input-icon-addon">
                                    <i class="fe fe-search"></i>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg order-lg-first">
                            <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                                <li class="nav-item">
                                    <a asp-controller="blog" asp-action="index" class="nav-link active"><i class="fe fe-home"></i> Home</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="category" asp-action="popular" class="nav-link"><i class="fe fe-list"></i> Categories</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="profile" asp-action="index" class="nav-link"><i class="fe fe-user-minus"></i> Profile</a>
                                </li>
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-item">
                                        <a asp-controller="security" asp-action="login" class="nav-link"><i class="fe fe-check-square"></i> Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Security" asp-action="register" class="nav-link"><i class="fe fe-share"></i> Sign Up</a>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            @RenderBody()
        </div>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-6 col-md-3">
                                <ul class="list-unstyled mb-0">
                                    <li><a asp-controller="Blog" asp-action="Index">Home</a></li>
                                </ul>
                            </div>
                            <div class="col-6 col-md-3">
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-4 mt-4 mt-lg-0">
                        Help people by writing :)
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-auto ml-lg-auto">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <ul class="list-inline list-inline-dots mb-0">
                                    <li class="list-inline-item"><a href="./docs/index.html">Documentation</a></li>
                                    <li class="list-inline-item"><a href="./faq.html">FAQ</a></li>
                                </ul>
                            </div>
                            <div class="col-auto">
                                <a href="/blog/create" class="btn btn-outline-primary btn-sm">New post</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                        Copyright © 2019 <a href=".">FreeTimeBlog</a>. Theme by <a href="https://codecalm.net" target="_blank">codecalm.net</a> All rights reserved.
                    </div>
                </div>
            </div>
        </footer>
    </div>
    @RenderBody()
</body>
</html>

@{
    foreach (var error in Html.ViewContext.ModelState.Errors())
    {
        <text>
            <script>
              new Noty({
                    type: 'error',
                    layout: 'topLeft',
                    theme: 'mint',
                    timeout: 5000,
                    text: '@error'
                }).show();

            </script>
        </text>
    }
}