@model PostDto
@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <h1 class="page-title">
                @Model.Title
            </h1>
        </div>
        <div class="row row-cards">
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-md-6 col-lg-12">
                        <div class="card">
                            <div class="card-body">


                                <div class="card-subtitle">
                                    <i class="fa fa-calendar"></i> @Model.CreatedOn.ToFriendlyDateString()
                                </div>
                                <div class="card-subtitle">
                                    <i class="fa fa-eye"></i> @Model.ViewCount
                                </div>
                                <div class="card-subtitle">
                                    <i class="fa fa-thumbs-o-up"></i> 100
                                </div>
                                @if (Model.TagList.Any())
                                {
                                    <div class="selectize-control form-control multi">

                                        <div class="selectize-input items not-full has-options has-items ">

                                            @foreach (var tag in Model.TagList)
                                            {
                                                <div class="item"><a asp-action="category" asp-route-category="@tag">#@tag</a> </div>
                                            }
                                        </div>
                                    </div>
                                }
                                <div class="mt-5 d-flex align-items-center">

                                    <div class="ml-auto">
                                        <a href="javascript:void(0)" class="btn btn-primary"><i class="fe fe-plus"></i> Add to Favorite</a>
                                    </div>
                                    <div class="ml-auto">
                                        <a href="javascript:void(0)" class="btn btn-green"><i class="fa fa-thumbs-up"></i> Like</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-9">
                <div class="card">
                    <div class="card-body">
                        <div class="text-wrap p-lg-6">

                            @Html.Raw(Model.Description)

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Your thoughs</h3>
                        <div class="row">

                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Name</label>
                                    <input type="text" class="form-control" placeholder="Name" id="txtName" required>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Email address</label>
                                    <input type="email" class="form-control" placeholder="Email" id="txtEmail" required>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group mb-0">
                                    <label class="form-label">Thought</label>
                                    <textarea rows="5" class="form-control" placeholder="Here can be your thought" id="txtContent" required></textarea>
                                </div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button type="submit" class="btn btn-primary" id="btnSend">Send</button>
                    </div>
                </div>

                <div class="col-12" id="comments">
                    <h2 class="page-title"><i class="fa fa-comment"></i>&nbsp; @Model.CommentsCount Comment(s)</h2>


                </div>
                <div class="col-12 hide" id="loadmore">
                    <button class="btn btn-info btn-lg text-center" id="btnLoadMoreComments">Load more...</button>
                </div>

            </div>



        </div>
    </div>
</div>




<script>
    var postId =@(Model.Id);
    var pageIndex = 0;
    $(window).on('load', function () {
        getComments(postId, pageIndex);
    });

    $(document).on('click', '#btnSend', function () {
        var postId =@(Model.Id);

        var model = {
            authorname: $('#txtName').val(),
            email: $('#txtEmail').val(),
            content: $('#txtContent').val(),
            postId:postId
        }

      var url = baseUrl + `api/comments/${postId}`;
        $.ajax({
            url: url,
            data: JSON.stringify(model),
            type: 'post',
            contentType: 'application/json',
            dataType: 'json',
            success: function () {
                new Noty({
                    type: 'success',
                    layout: 'topLeft',
                    theme: 'mint',
                    timeout: 5000,
                    text: 'Your thought has been sent'
                }).show();
            },
            error: function (err) {
                if (err.status == 400) {
                    new Noty({
                        type: 'error',
                        layout: 'topLeft',
                        timeout: 5000,
                        text: err.responseText
                    }).show();
                }
                else {
                    new Noty({
                        type: 'error',
                        layout: 'topLeft',
                        timeout: 5000,
                        text: 'An error has been occured'
                    }).show();
                }
            }
        });

    });

    $(document).on('click', '#btnLoadMoreComments', function () {
        getComments(postId,pageIndex);
    });

    function getComments(postId, page) {
        var url = baseUrl + `api/comments/${postId}/${page}`;
        $.ajax({
            url: url,
            type: 'get',
            contentType: 'application/json',
            dataType: 'html',
            success: function (htmlResult) {
                $("#comments").append(htmlResult);
                if (htmlResult.trim().length == 0 && page>0) {
                    $("#btnLoadMoreComments").hide();
                    new Noty({
                        type: 'info',
                        layout: 'topLeft',
                        timeout: 5000,
                        text: 'There is no more comments'
                    }).show();
                }
                pageIndex++;
            },
            error: function (error) { }
        });
    }


</script>